<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<title>URL Shortener</title>
</head>

<body>
	<div class="row mt-3">
		<div class="col-12 text-center">
			<h1>단축 URL 생성</h1>
		</div>
	</div>
	   
	<div class="row mt-3">
		<div class="col-2">
		</div>
		<div class="col-7">
			<input type="text" class="form-control" id="url" placeholder="단축할 URL을 입력하세요">
		</div>
		<div class="col-2">
			<button type="button" class="btn btn-primary mb-3" id="save">생성</button>
		</div>
		<div class="col-1">
		</div>
	</div>
	
	<div class="row mt-3">
		<div class="col-1">
		</div>
		<div class="col-10" id="result">
		</div>
		<div class="col-1">
		</div>
	</div>
	
	<div class="row mt-3">
		<div class="col-1">
		</div>
		<div class="col-10">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>Token</th>
						<th>Origin URL</th>
					</tr>
				</thead>
				<tbody class="table-striped" id="list">
					<tr th:each="shortUrl : ${list}">
						<td th:text="${shortUrl.token}"></td>
						<td th:text="${shortUrl.url}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-1">
		</div>
	</div>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">

    $("#save").click(function(event) {
        if ($("#url").val() === "") {
            alert("URL을 입력해주세요!!")
            return;
        }
        
        $.ajax({
            method: "POST",
            url: "[[${apiShortUrl}]]",
            data: JSON.stringify({
                url: $("#url").val()
            }),
            contentType: 'application/json',
            success: function(result) {
            	const htmlResult = `
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th><font color="blue">${result.data.duplYn === true ? "존재하는 URL" : "신규 생성 완료"}</font></th>
								<th>Token</th>
								<td>${result.data.token}</td>
								<th>Origin URL</th>
								<td>${result.data.url}</td>
								<th>Short URL</th>
								<td><a href="${result.data.shortUrl}" target="_blank">${result.data.shortUrl}</a></td>
							</tr>
						</tbody>
					</table>`;
					
            	$("#result").html(htmlResult);

            	if (result.data.duplYn === false) {
	            	const htmlList = `
	        			<tr>
	        				<td>${result.data.token}</td>
	        				<td>${result.data.url}</td>
	        			</tr>`;
						
	            	$("#list").append(htmlList);
            	}
            	
            	$("#url").val("");
            },
	        error: function (jqXHR, textStatus, errorThrown) {
	            console.error("status: ", jqXHR.status);
	            console.error("statusText: ", jqXHR.statusText);
	            console.error("responseText: ", jqXHR.responseText);
	            
	            $("#result").html("단축 URL 생성이 실패하였습니다.");
	        }
        });
    });
	</script>
	
</body>
</html>